<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров</h1>
{% if items_list %}
<table border="1">
    <tbody>
        <tr>
            <td>Название</td>
            <td>Артикул</td>
            <td>Цена</td>
        </tr>
        {% for item in items_list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Товаров нет</h2>
{% endif %}
</body>
</html>