{% load static %}
<html>
<title>Web-вёрстка</title>
<div>
    <body>
    <ul>
        <a href="../">Назад</a>
    </ul>
    <h3>
        <ul>
            <li>
                Курс <a href="https://go.skillbox.ru/profession/profession-python/weblayout">Web-вёрстка</a>
                Стоимость решения одного задание = 1800 р.
            </li>
            </p>
            <figure>
                <img width="800" height="400" src="{% static 'img/web.png'%}"
                     alt="Web-вёрстка">
            </figure>
            <p>
        </ul>
    </h3>
    </body>
</div>
</html>
