<html>
<title>Решения для курсов в skillbox</title>
<ul>
    <h1>
        Прошел все курсы на Skillbox. Продаю готовые домашние задания.
    </h1>
    <h3>
        <li>
            Курс <a href="detail_python_basic/">Python-Basic</a>
        </li>
        <li>
            Курс <a href="detail_sql/">Язык запросов SQL</a>
        </li>
        <li>
            Курс <a href="detail_django/">Django фреймворк</a>
        </li>
        <li>
            Курс <a href="detail_python_pro/">Python - разработчик с нуля</a>
        </li>
        <li>
            Курс <a href="detail_web/">Web - вёрстка</a>
        </li>
    </h3>
</ul>
</html>
