{% load static %}
<html>
<title>Python - разработчик</title>
<div>
    <body>
    <ul>
        <a href="../">Назад</a>
    </ul>
    <ul>
        <h3>
            <li>
                Курс <a href="https://go.skillbox.ru/profession/profession-python/python-razrabotchik-s-nulya">
                Python - разработчик</a>
                Стоимость решения одного задание = 2000 р.
            </li>
            </p>
            <figure>
                <img width="800" height="400" src="{% static 'img/python_pro.png'%}"
                     alt="Python-разработчик">
            </figure>
            <p>
        </h3>
    </ul>
    </body>
</div>
</html>
