<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные пользователя</title>
</head>
<body>

{% if request.user.is_authenticated %}
<h2>Данные пользователя: {{ request.user.first_name }}</h2>
<ul>
    <li>Логин: {{ request.user.username }}</li>
    <li>Имя: {{ request.user.first_name }}</li>
    <li>Фамилия: {{ request.user.last_name }}</li>
    <li>Почта: {{ request.user.email }}</li>
    <li>Дата рождения: {{ request.user.profile.birth_day }}</li>
    <li>Город: {{ request.user.profile.city }}</li>
    <li>Телефон: {{ request.user.profile.phone }}</li>
    <li>№ карты:  {{ request.user.profile.discount }}</li>
    <li>проба:  {{ request.user.profile }}</li>
</ul>
{% endif %}
</body>
</html>