{% load static %}
<html>
<title>Python-Basic</title>
<div>
    <body>
    <ul>
        <a href="../">Назад</a>
    </ul>
    <h3>
        <ul>
            <li>
                Курс <a href="https://go.skillbox.ru/profession/profession-python/python-basic" target="_blank">
                Python-Basic</a>
                Стоимость решения одного задание = 1200 р.
            </li>
            </p>
            <figure>
                <img width="800" height="400"
                     src="{% static 'img/python-basic.png'%}"
                     alt="Python-Basic">
            </figure>
            <p>
        </ul>
    </h3>
    </body>
</div>
</html>
