{% load static %}
<html>
<title>Язык запросов SQL</title>
<div>
    <body>
    <ul>
        <a href="../">Назад</a>
    </ul>
    <h3>
        <ul>
            <li>
                Курс <a href="https://go.skillbox.ru/profession/profession-python/yazyk-zaprosov-sql" target="_blank">
                Язык запросов SQL</a>
                Стоимость решения одного задание = 500 р.
            </li>
            </p>
            <figure>
                <img width="800" height="400" src="{% static 'img/sql.png'%}"
                     alt="SQL анализ данных">
            </figure>
            <p>
        </ul>
    </h3>
    </body>
</div>
</html>
