{% load static %}
<html>
<title>Фреймворк Django</title>
<div>
    <body>
    <ul>
        <a href="../">Назад</a>
    </ul>
    <h3>
        <ul>
            <li>
                Курс <a href="https://go.skillbox.ru/profession/profession-python/django-framework" target="_blank">
                Фреймворк Django</a>
                Стоимость решения одного задание = 1000 р.
            </li>
            </p>
            <figure>
                <img width="800" height="400"
                     src="{% static 'img/django.png'%}"
                     alt="Django фреймворк">
            </figure>
            <p>
        </ul>
    </h3>
    </body>
</div>
</html>