<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
{% if request.user.is_authenticated %}
<h3>Добро пожаловать на сайт {{request.user.first_name}}</h3>
<p>
    <a href="{% url 'logout' %}">Выйти</a>
</p>
<p>
    <a href="{% url 'account' %}">Просмотр контакта</a>
</p>
{% else %}
<h3>Вы не авторизованы</h3>
Для продолжения нажмите
<p>
    <a href="{% url 'login' %}">Войти</a> или <a href="{% url 'register_new' %}">Регистрация</a>
</p>
{% endif %}
<h2>Я - главная страница</h2>
</body>
</html>
